:root {
    --dark-gray-color: #505050;
    --light-gray-color: #777777;
    --purple-color: #ccccff;
}

.right-column img {
    margin-top: 36px;
    margin-left: 45px;
}

.title-right-column-container h3 {
    width: 472px;
    flex: 1;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--light-gray-color);
    font-size: 17px;
    font-weight: 900;
    line-height: 27px;
    letter-spacing: 2px;
    margin-left: 87px;
    margin-top: -33px;
    border-bottom: 2px solid var(--light-gray-color);
}

.content-right-column-container p {
    font-size: 17px;
    line-height: 25px;
    color: var(--light-gray-color);
    letter-spacing: 1px;
    margin-left: 87px;
    margin-top: 18px;
    width: 487px;
}

.content-right-column-container ul {
    font-size: 17px;
    line-height: 31px;
    color: var(--light-gray-color);
    letter-spacing: 1px;
    margin-left: 87px;
    margin-top: 18px;
    width: 487px;
}

.content-right-column-container a {
    text-decoration: none;
    color: var(--dark-gray-color);
}

.content-right-column-container a:hover {
    color: darkcyan;
}

.content-right-column-container pre {
    width: 935px;
    margin-left: -402px;
    margin-top: -97px;
    padding-left: 30px;
    font-family: monospace;
    font-size: 0.9rem;
    background-color: #f5f5f5;
}

.content-right-column-container img {
    margin-top: -33px;
    margin-left: 367px;
}
