:root {
    --dark-gray-color: #505050;
    --light-gray-color: #777777;
    --purple-color: #ccccff;
}

.languages h3 {
    font-weight: 500;
    font-size: 21px;
    margin: -612px auto 20px;
    width: 170px;
    display: flex;
    padding: 8px;
    justify-content: center;
    color: #ffffff;
    background-color: var(--dark-gray-color);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.list-languages  {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    color: var(--dark-gray-color);
    line-height: 31px;
    padding-top: 271px;
    padding-left: 83px;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: var(--purple-color);
}

.list-languages p {
    font-size: 18px;
    line-height: 31px;
    font-weight: 500;
    text-transform: none;
    color: var(--light-gray-color);
}

.list-languages li {
    padding-top: 10px;
}

